body {
  background-color: #1c3643;
}

.MainPage {
  max-width: 70%;

  margin: auto;

  background-color: rgb(56, 105, 129);
  border-radius: 5px;
  display: flex;

  flex-direction: column;
  align-content: center;
  justify-content: center;

  padding: 5px;

  font-family: "Cabin", sans-serif;
  font-size: 1.25em;
}

.MainPage-title {
  text-align: center;
  color: white;
  padding: 5%;
  margin-bottom: 5%;
}

.MainPage-content {
  max-width: 80%;

  background-color: rgb(76, 143, 177);
  border-radius: 5px;

  margin-bottom: 5%;

  padding: 2.5%;
  display: flex;

  align-self: center;
  justify-content: center;
  color: white;
}

.MainPage-AboutMe {
  padding-bottom: 4%;
}

.MainPage-description {
  font-family: "Josefin Sans", sans-serif;
}

.MainPage-image {
  max-width: 30%;
  max-height: 30%;

  width: 30%;
  height: 30%;

  border-radius: 50%;
  margin: 10px;
  padding: 10px;
  align-self: center;
}

.Portfolio {
  max-width: 70%;
  margin: auto;

  margin-top: 5%;
  margin-bottom: 5%;

  padding: 2.5%;

  background-color: rgb(56, 105, 129);
  border-radius: 5px;
  font-size: 1.25em;

  display: flex;
  flex-direction: column;
}

.Portfolio-List {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Experience {
  max-width: 70%;
  margin: auto;

  margin-top: 5%;
  margin-bottom: 5%;

  padding: 2.5%;

  background-color: rgb(56, 105, 129);
  border-radius: 5px;
  font-size: 20px;

  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 2560px) and (min-width: 1920.1px) {
    .MainPage {
      max-width: 90%;
      font-size: 2em;
    }

    .MainPage-title {
        font-size: 2em;
        margin-bottom: 2%;
    }
  
    .MainPage-AboutMe {
        font-size: 1.75em;
    }
  
    .MainPage-image {
      max-width: 35%;
      width: 35%;
      margin:5%;
    }
  
    .Portfolio {
      max-width: 90%;
      font-size: 2em;
    }
    .Experience {
      max-width: 90%;
      font-size: 2em;
    }
  }


@media screen and (max-width: 1920px) and (min-width: 1024.1px) {
    .MainPage {
      max-width: 90%;
      font-size: 1.5em;
    }
  
    .MainPage-title {
        font-size: 2em;
        margin-bottom: 2%;
    }


    .MainPage-image {
      max-width: 35%;
      width: 30%;
    }
  
    .Portfolio {
      max-width: 90%;
    }
    .Experience {
      max-width: 90%;
    }
  }
  

@media screen and (max-width: 1024px) and (min-width: 768.1px) {
  .MainPage {
    max-width: 90%;
    font-size: 1.25em;
  }

  .MainPage-image {
    max-width: 40%;
    width: 40%;
  }

  .Portfolio {
    max-width: 90%;
  }
  .Experience {
    max-width: 90%;
  }
}

@media screen and (max-width: 768px) and (min-width: 425.1px) {
  .MainPage {
    max-width: 90%;
    font-size: 1.25em;
  }

  .MainPage-content {
    max-width: 90%;
    flex-direction: column-reverse;
  }

  .MainPage-image {
    max-width: 50%;
    width: 50%;
  }

  .Portfolio {
    max-width: 90%;
  }
  .Experience {
    max-width: 90%;
  }
}

@media screen and (max-width: 425px) and (min-width: 375.1px) {
  .MainPage {
    max-width: 90%;
    font-size: 1.25em;
  }

  .MainPage-content {
    max-width: 90%;
    flex-direction: column-reverse;
  }

  .MainPage-AboutMe {
    font-size: 1em;
  }

  .MainPage-description {
    font-size: 0.85em;
  }

  .MainPage-image {
    max-width: 50%;
    width: 50%;
  }

  .Portfolio {
    max-width: 90%;
  }
  .Experience {
    max-width: 90%;
  }
}

@media screen and (max-width: 375px) {
  .MainPage {
    max-width: 90%;
    /* font-size: 1em; */
  }

  .MainPage-content {
    max-width: 90%;
    flex-direction: column-reverse;
  }

  .MainPage-AboutMe {
    font-size: 1.25em;
  }

  .MainPage-description {
    font-size: 1.1em;
  }

  .MainPage-image {
    max-width: 50%;
    width: 50%;
  }

  .Portfolio {
    max-width: 90%;
  }
  .Experience {
    max-width: 90%;
  }
}
