.GameCardBuild{
    display: flex;
    align-content: center;
    justify-content: space-around;
    max-width: 85%;
    justify-self: center;
    margin-top: 4%;
    margin-left:5%;
    margin-right:5%;
    border-radius:5px;
}

.socialNetwork{
    width:40px;
    height:40px;
    /* background-color:rgb(255, 255, 255); */
    /* color:black; */
}

/* .GameCardBuild-Element{
    margin-left:10px;
    margin-right:10px;

} */