.GameCard{
    max-width: 85%;

    background-color:rgb(62, 106, 128);
    border-radius:5px;

    margin-left:5%;
    margin-right:5%;
    margin-top:5%;

    padding:2.5%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    color:white;
}

.GameCard-Part-Top{
    display:flex;
    /* flex-direction: column; */
    align-self:center;
    justify-content: center;
    color:white;
}

.GameCard-Part-Bottom{

}

.GameCard-Title{
    text-align: center;
}

.GameCard-videoContainer{
    border-radius:5px;
    margin-right: 5%;

    align-self:center;
    flex-shrink: 0;
    max-width: 1440px;
    flex-wrap: wrap;
}

.GameCard-Content{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* .GameCard-Content-Element{

} */