* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  height:100vh;
}

html {
  background-color: #fff;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1rem;
}

header {
  width: 100%;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  /* color: #d7e894; */
}

figure {
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  margin: 0px;
}

.Navbar {
  max-height: 10%;
  height: inherit;
  max-width: 100%;
  width: 100%;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  flex-wrap: inherit;

  background-image: linear-gradient(#1c3643, #000000);
}

.Navbar-logo-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-shrink: 0;
  text-decoration: none;
  margin-left: 1%;
}

.Navbar-link-set {
  max-width: 100%;
  height: 100%;
  display: flex;

  align-items: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
}

.Navbar-links-container {
  display: flex;
  overflow: hidden;
  align-items: center;
}

.Navbar-title {
  color: #d7e894;
  font-family: "Press Start 2P";
}

.Navbar-links {
  color: #d7e894;
  display: flex;
  text-align: center;
  margin: 1em;
  max-height: 75px;
  text-decoration: none;
  font-family: "Press Start 2P", cursive;
}

.Navbar-logo {
  margin-right: 0.5rem;
}

@media screen and (max-width: 768px) {
  header {
    display: block;
    height: auto;
    justify-content: center;
  }
  .Navbar-logo-container {
    justify-content: center;
    margin-left: 0px;
  }

  .Navbar-links-container {
    display: block;
  }

  .Navbar-link-set {
    flex-direction: column;
  }

  .Navbar-links {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 0px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 768.1px) {
  .Navbar-links {
    max-width: 150px;
    max-height: 75px;
    margin: 0.5em;
  }
}

@media screen and (max-width: 2560px) and (min-width: 1440px) {
  .Navbar-links {
    max-width: 225px;
    max-height: 75px;
  }
}
