.PortfolioElement {
  max-width: 40%;
  width: 40%;
  background: rgb(76, 143, 177);
  border-radius: 5px;

  margin: auto;
  margin-bottom: 5%;
  padding: 2.5%;

  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  flex-shrink: 0;
}

.PortfolioElement-image {
  justify-self: center;
  flex-shrink: 0;

  border-radius: 5%;
  padding: 2.5%;
  margin: 5%;
}

.PortfolioElement-title {
  align-self: flex-start;
}

.PortfolioElement-tech {
  align-self: flex-start;
}

.PortfolioElement-date {
  align-self: flex-start;
}

.PortfolioElement-set {
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 2%;
  margin: auto;
}

.PortfolioElement-setElement {
  margin-bottom: 2.5%;
}

@media screen and (max-width: 2560px) and (min-width: 1920.1px) {
  .PortfolioElement {
    max-width: 45%;
    width: 45%;
  }

  .PortfolioElement-title {
    font-size: 1.75em;
    margin-bottom: 3%;
    color: #d7e894;
  }

  .PortfolioElement-tech {
    font-size: 1.25em;
  }

  .PortfolioElement-date {
    font-size: 1.25em;
  }

  .PortfolioElement-set {
    font-size: 1.1em;
  }

  .PortfolioElement-image {
    max-width: 90%;
  }
}

@media screen and (max-width: 1920px) and (min-width: 1440.1px) {
  .PortfolioElement {
    max-width: 30%;
    width: 30%;
  }

  .PortfolioElement-title {
    font-size: 1.75em;
    margin-bottom: 3%;
    color: #d7e894;
  }

  .PortfolioElement-tech {
    font-size: 1.5em;
  }

  .PortfolioElement-date {
    font-size: 1.5em;
  }

  .PortfolioElement-set {
    font-size: 1.25em;
  }

  .PortfolioElement-image {
    max-width: 90%;
  }
}

@media screen and (max-width: 1440px) and (min-width: 1024.1px) {
  .PortfolioElement {
    max-width: 45%;
    width: 45%;
  }

  .PortfolioElement-title {
    font-size: 1.75em;
    margin-bottom: 3%;
    color: #d7e894;
  }

  .PortfolioElement-tech {
    font-size: 1.5em;
  }

  .PortfolioElement-date {
    font-size: 1.5em;
  }

  .PortfolioElement-set {
    font-size: 1.25em;
  }

  .PortfolioElement-image {
    max-width: 90%;
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .PortfolioElement {
    max-width: 45%;
    width: 45%;
  }

  .PortfolioElement-title {
    font-size: 1.75em;
    margin-bottom: 3%;
    color: #d7e894;
  }

  .PortfolioElement-tech {
    font-size: 1em;
  }

  .PortfolioElement-date {
    font-size: 1em;
  }

  .PortfolioElement-set {
    font-size: 0.85em;
  }

  .PortfolioElement-image {
    max-width: 90%;
  }
}

@media screen and (max-width: 767.9px) {
  .PortfolioElement {
    max-width: 90%;
    width: 90%;
  }

  .PortfolioElement-title {
    font-size: 1.75em;
    margin-bottom: 3%;
    color: #d7e894;
  }

  .PortfolioElement-tech {
    font-size: 1em;
  }

  .PortfolioElement-date {
    font-size: 1em;
  }

  .PortfolioElement-set {
    font-size: 0.85em;
  }

  .PortfolioElement-image {
    max-width: 90%;
  }
}
